.fa-icon.svelte-1dof0an{display:inline-block;fill:currentColor}.fa-flip-horizontal.svelte-1dof0an{transform:scale(-1, 1)}.fa-flip-vertical.svelte-1dof0an{transform:scale(1, -1)}.fa-spin.svelte-1dof0an{animation:svelte-1dof0an-fa-spin 1s 0s infinite linear}.fa-inverse.svelte-1dof0an{color:#fff}.fa-pulse.svelte-1dof0an{animation:svelte-1dof0an-fa-spin 1s infinite steps(8)}@keyframes svelte-1dof0an-fa-spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
:root{--collapse-button-height:54px}.bf-navigation.svelte-12ca6mi{padding-bottom:var(--collapse-button-height)}.collapse-button.svelte-12ca6mi{height:var(--collapse-button-height);width:var(--bf-navigation-width);cursor:pointer;position:fixed;bottom:0;left:0;border-top:2px solid var(--bfc-base);overflow:hidden;transition:width .2s ease}.collapse-button.svelte-12ca6mi:not(:hover){background-color:var(--bfc-base-110)}.collapse-button.svelte-12ca6mi .fa-icon{transform:rotate(0deg);transition:transform .5s ease}.bf-navigation-collapsed .collapse-button.svelte-12ca6mi{width:var(--bf-navigation-width-collapsed)}.bf-navigation-collapsed .collapse-button.svelte-12ca6mi .fa-icon{transform:rotate(180deg)}
.toggle.svelte-2evxp0{cursor:pointer}.toggle.svelte-2evxp0:hover{background-color:var(--bfc-base-120)}.bf-appbar .toggle.svelte-2evxp0{padding:0.7rem;border-left:var(--bfl-border)}
:root,
.bf-darkmode {
  --bfc-base-hs: 0, 0%;
  --bfc-base-hsl: var(--bfc-base-hs), 10%; /* darkest gray */
  --bfc-base-200-hsl: var(--bfc-base-hs), 100%;
  --bfc-base-200: hsl(var(--bfc-base-200-hsl)); /* white */
  --bfc-base-180: hsl(var(--bfc-base-hs), 80%);
  --bfc-base-150: hsl(var(--bfc-base-hs), 55%);
  --bfc-base-120: hsl(var(--bfc-base-hs), 24%);
  --bfc-base-110: hsl(var(--bfc-base-hs), 15%);
  --bfc-base-100: hsl(var(--bfc-base-hsl));
  --bfc-base-0: hsl(var(--bfc-base-hs), 0%);
  --bfc-base: var(--bfc-base-100);
  --bfc-base-fg: var(--bfc-base-200);
  --bfc-base-text: var(--bfc-base-150);

  --bfc-primary: #d289ff;
  --bfc-secondary: #ffff6b;

  --bf-appbar-height: 40px;
  --bf-navigation-width: 240px;
  --bf-navigation-width-collapsed: 50px;
  --bfl-border: 2px solid var(--bfc-base);
}

.bf-lightmode {
  --bfc-base-hs: 0, 0%;
  --bfc-base-hsl: var(--bfc-base-hs), 100%; /* white */
  --bfc-base-200-hsl: var(--bfc-base-hs), 0%;
  --bfc-base-200: hsl(var(--bfc-base-200-hsl)); /* black */
  --bfc-base-180: hsl(var(--bfc-base-hs), 20%);
  --bfc-base-150: hsl(var(--bfc-base-hs), 50%);
  --bfc-base-120: hsl(var(--bfc-base-hs), 80%);
  --bfc-base-110: hsl(var(--bfc-base-hs), 90%);
  --bfc-base-100: hsl(var(--bfc-base-hsl));
  --bfc-base-0: hsl(var(--bfc-base-hs), 100%);
  --bfc-base: var(--bfc-base-100);
  --bfc-base-fg: var(--bfc-base-200);
  --bfc-base-text: var(--bfc-base-150);

  --bfc-primary: #9e00ff;
  --bfc-secondary: #ca8c00;

  --bfl-border: 2px solid var(--bfc-base);
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(var(--bfc-base-200-hsl), 0.2);
  border-radius: 10px;
}

/* AppBar */
.bf-appbar {
  height: var(--bf-appbar-height);
  background-color: var(--bfc-base-110);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.bf-appbar .logo {
  margin-left: 1rem;
  align-self: center;
  color: var(--bfc-base-text);
  letter-spacing: 4px;
  transition: all ease 1s;
  text-transform: uppercase;
}
.bf-appbar .logo:hover {
  letter-spacing: 20px;
  text-decoration: none;
  color: var(--bfc-base-fg);
}
.bf-appbar > nav {
  display: flex;
}

.bf-appbar .bf-dropdown-content {
  right: 0;
  border-top: 2px solid var(--bfc-base);
}
.bf-appbar .bf-button {
  border: none;
  border-left: 2px solid var(--bfc-base);
  background-color: transparent;
  color: inherit;
  border-radius: 0;
  margin: 0;
  outline: none;
  padding: 0 0.9rem;
  height: var(--bf-appbar-height);
}
.bf-appbar .bf-button:hover,
.bf-appbar .bf-button.active {
  background-color: var(--bfc-base-120);
  border: none;
  border-left: 2px solid var(--bfc-base);
  color: inherit;
}

/* Navigation */
.bf-navigation {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: var(--bf-navigation-width);
  background-color: var(--bfc-base-110);
  border-top: 2px solid var(--bfc-base);
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.2s ease;
}
.bf-navigation-collapsed .bf-navigation {
  width: var(--bf-navigation-width-collapsed);
}
.bf-navigation > *,
.bf-navigation > *:visited {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--bfc-base-fg);
  margin: 0;
  white-space: nowrap;
}
.bf-navigation .fa-icon {
  fill: var(--bfc-base-text);
  margin-right: .8rem;
  text-align: center;
  width: 1.25em;
}
.bf-navigation > *:hover,
.bf-navigation > .bf-active {
  background-color: var(--bfc-base-120);
  text-decoration: none;
  color: var(--bfc-base-fg);
}
.bf-navigation > .bf-active .fa-icon {
  fill: var(--bfc-primary);
}
.bf-navigation > hr {
  padding: 0;
  margin: 0;
  border: 1px solid var(--bfc-base);
}

.bf-layout {
  padding-top: var(--bf-appbar-height);
  padding-left: var(--bf-navigation-width);
  transition: padding-left 0.2s ease;
}
.bf-navigation-collapsed .bf-layout {
  padding-left: var(--bf-navigation-width-collapsed);
}
.bf-layout .bf-navigation {
  top: var(--bf-appbar-height);
  z-index: 2;
}
.bf-layout .bf-appbar {
  z-index: 3;
}
.bf-layout > main {
  min-height: calc(100vh - var(--bf-appbar-height));
}

/* Button */
.bf-button {
  margin: 0.5rem 0.5rem 0 0;
  cursor: pointer;
  padding: 0.4rem 0.9rem;
  background-color: transparent;
  border: 2px solid var(--bfc-primary);
  color: inherit;
  border-radius: 6rem;
}
.bf-button:hover {
  background-color: var(--bfc-primary);
  border: 2px solid var(--bfc-primary);
  color: var(--bfc-base);
  text-decoration: none;
}
.bf-button[disabled] {
  background-color: var(--bfc-base);
  border: 2px solid var(--bfc-base-120);
  color: var(--bfc-base-150);
  cursor: not-allowed;
}

/* Dropdown */
.bf-dropdown {
  position: relative;
  display: inline-block;
}
.bf-dropdown-content {
  position: absolute;
  background-color: var(--bfc-base-120);
  min-width: 150px;
  z-index: 2;
}
.bf-dropdown-content > * {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0.5rem 1rem;
  list-style: none;
  display: block;
}
.bf-dropdown-content > a:hover {
  text-decoration: none;
  background-color: var(--bfc-base-120);
}

/* uhh hack?*/
.fa-fw {
  text-align: center;
  width: 1.25em;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat|Mr+Dafoe&display=swap");

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bfc-base);
  color: var(--bfc-base-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

.streak {
  display: inline-block;
  font-family: "Mr Dafoe", cursive;
  color: #ff3e00;
  font-size: 4em;
  font-weight: 100;
  transform: rotate(-8deg);
  background: -webkit-linear-gradient(90deg, yellow, #ff0000 23%, #bb00ff 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 1.5rem;
}

.bf-lightmode .snowflake {
  fill: #88b5e6;
}
main.svelte-p2dh8s{position:relative;padding:2em;margin:0 auto;box-sizing:border-box}
h1.svelte-13vgy2g,p.svelte-13vgy2g{margin:0 auto}h1.svelte-13vgy2g{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-13vgy2g{margin:1em auto}@media(min-width: 480px){h1.svelte-13vgy2g{font-size:4em}}
.fa-icon.svelte-1dof0an{display:inline-block;fill:currentColor}.fa-flip-horizontal.svelte-1dof0an{transform:scale(-1, 1)}.fa-flip-vertical.svelte-1dof0an{transform:scale(1, -1)}.fa-spin.svelte-1dof0an{animation:svelte-1dof0an-fa-spin 1s 0s infinite linear}.fa-inverse.svelte-1dof0an{color:#fff}.fa-pulse.svelte-1dof0an{animation:svelte-1dof0an-fa-spin 1s infinite steps(8)}@keyframes svelte-1dof0an-fa-spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}